# templatey config file

# Every time another selector is defined, it is added to the selector list.
# !! But the first selector overrides the default selector. !!
# Selectors must consist of a prefix (before ...) and postfix (after ...)
@selector=@...@
@selector=#...#

# variables are mapped to values which replace them.
background-color=#334466
foreground-color=#664433